@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: $roboto;
  background: url('../img/wanderlust.jpg') no-repeat center fixed;
  background-size: cover;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
}

main{
  margin-left: 3rem;
  margin-right: 3rem;
}

h1{
  color: $text-color;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 20rem;
}

.small-border{
    display: block;
    width: 65px;
    height: 5px;
    background: #fff;
    margin: 0 auto;
    margin-top: -1rem;
    margin-bottom: 10px;
}

.toggle-btn{
  position: absolute;
  right: 1em;
  top: 0;
}

.navigation ul{
  @include zero;
  margin-top: 6em;
  margin-right: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .9rem;
  li{
    list-style-type: none;
    &:first-child a{
      /*border-top: 1px solid $light-grey;*/
    }
    a{
      display: block;
      padding: .5em 1em;
      text-align: right;
      color: $text-color;
      /*border-bottom: 1px solid $light-grey;*/
      text-decoration: none;
      @include ease(all, 300ms, ease-in-out);
      &:hover{
        color: $hover;
      }
    }
  } // li
} // .navigation ul 

.toggle-btn,
.close-btn{
  color: $text-color;
  height: 40px;
  width: 40px;
  @include ease(all, 300ms, ease-in-out);
  &:hover{
    color: $hover;
  }
  span{
    @include hide-text;
  }
}

.close-btn{
  position: absolute;
  right: 1em;
  top: 0;
  margin-top:0;
}


@media only screen and (max-width: 90em){

  .site-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
    .sliding-canvas{
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateX(0);
      @include ease(all, 500ms, ease-in-out);
    } // .sliding canvas
  
    &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }// data-state

    &[data-state="slide-open"]{
      //will allow for the expansion of nav past page height, when open.//
      overflow: visible;
    }// data-state
  }// .site-wrapper

  .slide-menu{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -100%;
  }// .slider-menu
} // @media

@media only screen and (min-width: 90em){
  .toggle-btn,
  .close-btn{
    display: none;
  }
}

body.noscript .slide-menu{
  position: static;
  right: auto;
}
